/dts-v1/;

#define KEEP_CPUS

#include "kontron-samx8x-dxp.dts"

/ {
	model = "Kontron SMARC-sAMX8X QuadXPlus";
	compatible = "kontron,samx8x-qxp", "fsl,imx8qxp";

	reserved-memory {
		/* global autoconfigured region for contiguous allocations */
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0 0x3c000000>;
			alloc-ranges = <0 0x96000000 0 0x3c000000>;
			linux,cma-default;
		};
	};
};

