/dts-v1/;

#define KEEP_CPUS

#include "kontron-samx8x-dx.dts"

/ {
	model = "Kontron SMARC-sAMX8X QuadXPlus";
	compatible = "kontron,samx8x-qxp", "fsl,imx8qxp";

	edp: display@1 {
		compatible = "kontron,dp";
		label = "edp";
		power-supply = <&reg_bpl_v_3v3_s0>;

/*
// DP 1920x1080
		compatible = "panel-lvds";
		data-mapping = "jeida-24";

		width-mm = <520>;
		height-mm = <290>;
		panel-timing {
			clock-frequency = <162000000>;
			hactive = <1920>;
			vactive = <1080>;
			hsync-len = <44>;
			hfront-porch = <88>;
			hback-porch = <148>;
			vsync-len = <5>;
			vfront-porch = <4>;
			vback-porch = <36>;
		};
*/

		port {
			edp_panel_in: endpoint {
				remote-endpoint = <&edp_bridge_out>;
			};
		};
	};

	edp_osc: oscillator {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <12000000>;
	};

/*
	hdmi: display@2 {
		compatible = "kontron,asuspa238";
		label = "hdmi";

		port {
			hdmi_panel_in: endpoint {
				remote-endpoint = <&hdmi_bridge_out>;
			};
		};
	};
*/

	reserved-memory {
		/* global autoconfigured region for contiguous allocations */
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0 0x3c000000>;
			alloc-ranges = <0 0x96000000 0 0x3c000000>;
			linux,cma-default;
		};
	};
};

/* DSI/LVDS port 1 */
&i2c0_mipi_lvds1 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c0_mipi_lvds1>;
	clock-frequency = <100000>;
	clkhi = <28>;
	clklo = <30>;
	status = "okay";

	edp_bridge: edp-bridge@2d {
		compatible = "ti,sn65dsi86";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x2d>;

		enable-gpios = <&lsio_gpio1 31 GPIO_ACTIVE_HIGH>;

		interrupts-extended = <&lsio_gpio2 0 IRQ_TYPE_LEVEL_HIGH>;

		vccio-supply = <&reg_1v8_s0>;
		vcca-supply = <&reg_1v2_s0>;
		vpll-supply = <&reg_1v8_s0>;
		vcc-supply = <&reg_1v2_s0>;

		/*
		   Clocks - set to use external refclk, comment out to use DSI clock.
			SMX8_A00 - comment out
			SMX8_B00 - set to 12MHz
		*/
		clocks = <&edp_osc>;
		clock-names = "refclk";

		i2c-bus {
			#address-cells = <1>;
			#size-cells = <0>;
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				edp_bridge_in: endpoint {
					remote-endpoint = <&mipi1_dsi_host_out>;
				};
			};

			port@1 {
				reg = <1>;

				edp_bridge_out: endpoint {
					data-lanes = <0 1>;
					lane-polarities = <0 0>;
					remote-endpoint = <&edp_panel_in>;
				};
			};
		};
	};
};

&mipi1_dphy {
	status = "okay";
};

&mipi1_dsi_host {
	status = "okay";

	ports {
		port@1 {
			reg = <1>;
			mipi1_dsi_host_out: endpoint {
				remote-endpoint = <&edp_bridge_in>;
			};
		};
	};
};

/*
&i2c0 {
	hdmi_bridge: hdmi-bridge@39 {
		status = "okay";
		compatible = "sil,sii9022";
		reg = <0x39>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				hdmi_bridge_in: endpoint {
					remote-endpoint = <&lcdif_out>;
				};
			};

			port@1 {
				reg = <1>;

				hdmi_bridge_out: endpoint {
					remote-endpoint = <&hdmi_panel_in>;
				};
			};
		};
	};
};


&adma_lcdif {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lcdif>;
	status = "okay";

	port@0 {
		lcdif_out: lcdif-endpoint {
			remote-endpoint = <&hdmi_bridge_in>;
		};
	};
};
*/

//&pcieb {
//		fsl,max-link-speed = <2>;
//};
