/*
 * Copyright 2017 NXP
 * Copyright 2023 Berg Propulsion
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

// This file now reflects the mpcflex hardware.

// In other words it contains the same as mpcflex.dts or mpcflex-p1.dts
// However, since the bootloaders are currently coded to load this file
// it will temporarily be (mis)named using the original BSP naming:
// kontron-samx8x-* ...

// Furthermore, content is still split between kontron-samx8x.dtsi and
// kontron-samx8x-qxp.dts.  That is a normal setup to specify the whole range
// of capabilities in the dtsi, and then refine the actual hardware usage in
// the dts.  However, in this case the content did not appear to be perfectly split
// and even some features unique to the Evaluation carrier board seemed to be
// mixed into the files that are supposed to be generic for the SMARC
// system-on-module only.  It is not ideal for a modular/flexible BSP, but
// for our MPC Flex product-specific we should be more free to combine data
// into a single description optimized for our purpose.
// For now, we keep the dtsi/dts split at the moment to be more similar to the
// original BSP files.

#include <dt-bindings/input/input.h>
#include <dt-bindings/usb/pd.h>

/ {
	model = "Kontron SMARC-sAMX8X";
	compatible = "kontron,samx8x";

	chosen {
//		bootargs = "console=ttyLP0,115200 earlycon=lpuart32,0x5a060000,115200";
		bootargs = "console=ttyLP0,115200 earlycon";
		stdout-path = &lpuart0;
	};

	scu {
		thermal-sensor {
			tsens-num = <1>;
		};
	};

	aliases {
		csi0 = &mipi_csi_0;
		dpu0 = &dpu1;
		ethernet0 = &fec1;
		ethernet1 = &fec2;
		dsi_phy0 = &mipi0_dphy;
		dsi_phy1 = &mipi1_dphy;
		mipi_dsi0 = &mipi0_dsi_host;
		mipi_dsi1 = &mipi1_dsi_host;
		ldb0 = &ldb1;
		ldb1 = &ldb2;
		isi0 = &isi_0;
		isi1 = &isi_1;
		isi2 = &isi_2;
		isi3 = &isi_3;
		isi4 = &isi_4;
		isi5 = &isi_5;
		isi6 = &isi_6;
		isi7 = &isi_7;
		serial0 = &lpuart0;
		serial1 = &lpuart1;
		serial2 = &lpuart2;
		serial3 = &lpuart3;
		mmc0 = &usdhc1;
		mmc1 = &usdhc2;
		can0 = &flexcan1;
		can1 = &flexcan2;
		i2c0 = &i2c0;    /* i2c_pm */
		i2c1 = &i2c1;    /* i2c_int*/
		i2c2 = &i2c3;    /* i2c_gp */
		i2c3 = &i2c_mipi_csi0;
		i2c4 = &i2c0_mipi_lvds0;
		i2c5 = &i2c0_mipi_lvds1;
		gpio0 = &lsio_gpio0;
		gpio1 = &lsio_gpio1;
		gpio2 = &lsio_gpio2;
		gpio3 = &lsio_gpio3;
		gpio4 = &lsio_gpio4;
		gpio5 = &lsio_gpio5;
		gpio6 = &lsio_gpio6;
		gpio7 = &lsio_gpio7;
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x00000000 0x80000000 0 0x40000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/*
		 * 0x8800_0000 ~ 0x8FFF_FFFF is reserved for M4
		 * Shouldn't be used at A core and Linux side.
		 *
		 */
		m4_reserved: m4@0x88000000 {
			no-map;
			reg = <0 0x88000000 0 0x8000000>;
		};

		rpmsg_reserved: rpmsg@0x90000000 {
			no-map;
			reg = <0 0x90000000 0 0x400000>;
		};

		rpmsg_dma_reserved:rpmsg_dma@0x90400000 {
			compatible = "shared-dma-pool";
			no-map;
			reg = <0 0x90400000 0 0x100000>;
		};

		decoder_boot: decoder-boot@84000000 {
			reg = <0 0x84000000 0 0x2000000>;
			no-map;
		};

		encoder_boot: encoder-boot@86000000 {
			reg = <0 0x86000000 0 0x200000>;
			no-map;
		};

		decoder_rpc: decoder-rpc@0x92000000 {
			reg = <0 0x92000000 0 0x200000>;
			no-map;
		};

		encoder_rpc: encoder-rpc@0x92200000 {
			reg = <0 0x92200000 0 0x200000>;
			no-map;
		};

		encoder_reserved: encoder_reserved@94400000 {
			no-map;
			reg = <0 0x94400000 0 0x800000>;
		};
	};

	reg_eval_5v0: regulator-eval-5V0 {
		compatible = "regulator-fixed";
		regulator-name = "eval-5V0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	reg_1v8_s0: regulator-pmic-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "edp-bridge-1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	reg_1v2_s0: regulator-edp-bridge {
		compatible = "regulator-fixed";
		regulator-name = "edp-bridge-1v2";
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
	};

	reg_usdhc2_vmmc: usdhc2_vmmc {
		compatible = "regulator-fixed";
		regulator-name = "SD1_SPWR";
		regulator-min-microvolt = <3000000>;
		regulator-max-microvolt = <3000000>;
		gpio = <&lsio_gpio4 19 GPIO_ACTIVE_HIGH>;
		off-on-delay = <3480>;
		enable-active-high;
	};

	reg_usb_otg1_vbus: regulator@0 {
		compatible = "regulator-fixed";
//		reg = <0>;
		regulator-name = "usb_otg1_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	reg_vref_1v8: adc_vref_1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vref_1v8";
		regulator-min-microvolt = <180000>;
		regulator-max-microvolt = <180000>;
	};

	gpio-input {
		compatible = "gpio-keys-polled";
		pinctrl-names = "default";
		pinctrl-0 = <&gpio_keys>;
		#address-cells = <1>;
		#size-cells = <0>;
		poll-interval = <100>;
		autorepeat;
		lid {
			label = "lid";
			linux,input-type = <EV_SW>;
			linux,code = <SW_LID>;
			gpios = <&tca9539 12 1>;
		};

		sleep {
			label = "Sleep";
			gpios = <&lsio_gpio3 1 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_SLEEP>;
			debounce-interval = <1>;
//			gpio-key,wakeup;
		};
	};

	// Quick references to related files:
	// Driver: ../../../../../drivers/gpu/drm/panel/panel-simple.c
	// The main DTS file: ./kontron-samx8x-qxp.dts
	lvds: display@0 {
		label = "lvds";
		power-supply = <&reg_bpl_v_3v3_s0>;
		compatible = "panel-lvds";
		data-mapping = "vesa-24";

		// Width/Height is required! (the actual size might not be correct
		// right now, but some values must be set)
		width-mm = <476>;
		height-mm = <268>;

		// Parameters according to the 10.4 timing.pdf we received:
		panel-timing {
			hactive = <1024>;
			vactive = <768>;
			clock-frequency = <65000000>;
			hsync-len = <30>;
			hback-porch = <100>;
			hfront-porch = <190>;
			vsync-len = <5>;
			vback-porch = <10>;
			vfront-porch = <23>;
		};

		port {
			lvds_panel_in: endpoint {
				remote-endpoint = <&lvds_bridge_out>;
			};
		};
	};

	lvds_backlight0: lvds_backlight@0 {
		compatible = "pwm-backlight";
		pwms = <&pwm_mipi_lvds0 0 5000000 0>;
		enable-gpios = <&lsio_gpio1 2 GPIO_ACTIVE_HIGH>;
		brightness-levels = < 0  1  2  3  4  5  6  7  8  9
				     10 11 12 13 14 15 16 17 18 19
				     20 21 22 23 24 25 26 27 28 29
				     30 31 32 33 34 35 36 37 38 39
				     40 41 42 43 44 45 46 47 48 49
				     50 51 52 53 54 55 56 57 58 59
				     60 61 62 63 64 65 66 67 68 69
				     70 71 72 73 74 75 76 77 78 79
				     80 81 82 83 84 85 86 87 88 89
				     90 91 92 93 94 95 96 97 98 99
				    100>;
		default-brightness-level = <80>;
	};

        // We only have one display, so this should probably be deleted
	/*lvds_backlight1: lvds_backlight@1 {
		compatible = "pwm-backlight";
		pwms = <&pwm_mipi_lvds1 0 5000000 0>;
		enable-gpios = <&lsio_gpio1 0 GPIO_ACTIVE_HIGH>;
		brightness-levels = < 0  1  2  3  4  5  6  7  8  9
				     10 11 12 13 14 15 16 17 18 19
				     20 21 22 23 24 25 26 27 28 29
				     30 31 32 33 34 35 36 37 38 39
				     40 41 42 43 44 45 46 47 48 49
				     50 51 52 53 54 55 56 57 58 59
				     60 61 62 63 64 65 66 67 68 69
				     70 71 72 73 74 75 76 77 78 79
				     80 81 82 83 84 85 86 87 88 89
				     90 91 92 93 94 95 96 97 98 99
				    100>;
		default-brightness-level = <80>;
	};
*/

	smarc_bat: gpio-charger0 {
		compatible = "gpio-charger";
		charger-type = "battery";
		gpios = <&tca9539 10 GPIO_ACTIVE_LOW>;
		charge-status-gpios = <&tca9539 14 GPIO_ACTIVE_LOW>;
		capacity-level-gpios = <&tca9539 11 GPIO_ACTIVE_LOW>;
	};
};

// acm is for audio, defined in freescale (audio) dtsi
&acm {
	status = "okay";
};

// asrc0 is for audio, defined in freescale (audio) dtsi
&asrc0 {
	fsl,asrc-rate  = <48000>;
	status = "okay";
};

// iomuxc is an io mux presumably, 
// defined in freescale (SoC) dtsi, for example imx8qm/mm/ etc .dtsi
&iomuxc {
	samx8x {
		pinctrl_csi0_lpi2c0: csi0lpi2c0grp {
			fsl,pins = <
				IMX8QXP_MIPI_CSI0_I2C0_SCL_MIPI_CSI0_I2C0_SCL	0xc2000020
				IMX8QXP_MIPI_CSI0_I2C0_SDA_MIPI_CSI0_I2C0_SDA	0xc2000020
			>;
		};

		pinctrl_lpuart0: lpuart0grp {
			fsl,pins = <
				IMX8QXP_UART0_RX_ADMA_UART0_RX	0x06000020
				IMX8QXP_UART0_TX_ADMA_UART0_TX	0x06000020
			>;
		};

		pinctrl_lpuart1: lpuart1grp {
			fsl,pins = <
				IMX8QXP_UART1_TX_ADMA_UART1_TX		0x06000020
				IMX8QXP_UART1_RX_ADMA_UART1_RX		0x06000020
				IMX8QXP_UART1_RTS_B_ADMA_UART1_RTS_B	0x06000020
				IMX8QXP_UART1_CTS_B_ADMA_UART1_CTS_B	0x06000020
			>;
		};

		pinctrl_lpuart2: lpuart2grp {
			fsl,pins = <
				IMX8QXP_UART2_TX_ADMA_UART2_TX	0x06000020
				IMX8QXP_UART2_RX_ADMA_UART2_RX	0x06000020
			>;
		};

		pinctrl_lpuart3: lpuart3grp {
			fsl,pins = <
				IMX8QXP_FLEXCAN2_TX_ADMA_UART3_TX	0x06000020
				IMX8QXP_FLEXCAN2_RX_ADMA_UART3_RX	0x06000020
			>;
		};

		pinctrl_fec1: fec1grp {
			fsl,pins = <
				IMX8QXP_ENET0_MDC_CONN_ENET0_MDC			0x06000020
				IMX8QXP_ENET0_MDIO_CONN_ENET0_MDIO			0x06000020
				IMX8QXP_ENET0_RGMII_TX_CTL_CONN_ENET0_RGMII_TX_CTL	0x06000020
				IMX8QXP_ENET0_RGMII_TXC_CONN_ENET0_RGMII_TXC		0x06000020
				IMX8QXP_ENET0_RGMII_TXD0_CONN_ENET0_RGMII_TXD0		0x06000020
				IMX8QXP_ENET0_RGMII_TXD1_CONN_ENET0_RGMII_TXD1		0x06000020
				IMX8QXP_ENET0_RGMII_TXD2_CONN_ENET0_RGMII_TXD2		0x06000020
				IMX8QXP_ENET0_RGMII_TXD3_CONN_ENET0_RGMII_TXD3		0x06000020
				IMX8QXP_ENET0_RGMII_RXC_CONN_ENET0_RGMII_RXC		0x06000020
				IMX8QXP_ENET0_RGMII_RX_CTL_CONN_ENET0_RGMII_RX_CTL	0x06000020
				IMX8QXP_ENET0_RGMII_RXD0_CONN_ENET0_RGMII_RXD0		0x06000020
				IMX8QXP_ENET0_RGMII_RXD1_CONN_ENET0_RGMII_RXD1		0x06000020
				IMX8QXP_ENET0_RGMII_RXD2_CONN_ENET0_RGMII_RXD2		0x06000020
				IMX8QXP_ENET0_RGMII_RXD3_CONN_ENET0_RGMII_RXD3		0x06000020
			>;
		};

		pinctrl_flexcan1: flexcan0grp {
			fsl,pins = <
				IMX8QXP_FLEXCAN0_TX_ADMA_FLEXCAN0_TX	0x21
				IMX8QXP_FLEXCAN0_RX_ADMA_FLEXCAN0_RX	0x21
			>;
		};

		pinctrl_flexcan2: flexcan1grp {
			fsl,pins = <
				IMX8QXP_FLEXCAN1_TX_ADMA_FLEXCAN1_TX	0x21
				IMX8QXP_FLEXCAN1_RX_ADMA_FLEXCAN1_RX	0x21
			>;
		};

		pinctrl_flexspi0: flexspi0grp {
			fsl,pins = <
				IMX8QXP_QSPI0A_DATA0_LSIO_QSPI0A_DATA0	0x0600004c
				IMX8QXP_QSPI0A_DATA1_LSIO_QSPI0A_DATA1	0x0600004c
				IMX8QXP_QSPI0A_DATA2_LSIO_QSPI0A_DATA2	0x0600004c
				IMX8QXP_QSPI0A_DATA3_LSIO_QSPI0A_DATA3	0x0600004c
				IMX8QXP_QSPI0A_DQS_LSIO_GPIO3_IO13	0x06000040
				IMX8QXP_QSPI0A_SS0_B_LSIO_QSPI0A_SS0_B	0x0600004c
				IMX8QXP_QSPI0A_SS1_B_LSIO_QSPI0A_SS1_B	0x0600004c
				IMX8QXP_QSPI0A_SCLK_LSIO_QSPI0A_SCLK	0x0600004c
				IMX8QXP_QSPI0B_SCLK_LSIO_QSPI0B_SCLK	0x0600004c
				IMX8QXP_QSPI0B_DATA0_LSIO_QSPI0B_DATA0	0x0600004c
				IMX8QXP_QSPI0B_DATA1_LSIO_QSPI0B_DATA1	0x0600004c
				IMX8QXP_QSPI0B_DATA2_LSIO_QSPI0B_DATA2	0x0600004c
				IMX8QXP_QSPI0B_DATA3_LSIO_QSPI0B_DATA3	0x0600004c
				IMX8QXP_QSPI0B_SS0_B_LSIO_QSPI0B_SS0_B	0x0600004c
				IMX8QXP_QSPI0B_SS1_B_LSIO_QSPI0B_SS1_B	0x0600004c
			>;
		};

		pinctrl_lpspi0: lpspi0grp {
			fsl,pins = <
				IMX8QXP_SPI0_SCK_ADMA_SPI0_SCK		0x00000021
				IMX8QXP_SPI0_SDO_ADMA_SPI0_SDO		0x00000021
				IMX8QXP_SPI0_SDI_ADMA_SPI0_SDI		0x00000021
				IMX8QXP_SPI0_CS0_LSIO_GPIO1_IO08	0x00000021
				IMX8QXP_SPI0_CS1_LSIO_GPIO1_IO07	0x00000021
			>;
		};

		pinctrl_i2c0_mipi_lvds0: mipi_lvds0_i2c0_grp {
			fsl,pins = <
				IMX8QXP_MIPI_DSI0_I2C0_SCL_MIPI_DSI0_I2C0_SCL	0xc6000020
				IMX8QXP_MIPI_DSI0_I2C0_SDA_MIPI_DSI0_I2C0_SDA	0xc6000020
				IMX8QXP_SPI2_SDO_LSIO_GPIO1_IO01		0x00000041
				IMX8QXP_MIPI_DSI0_GPIO0_01_LSIO_GPIO1_IO28	0x00000061
			>;
		};

		pinctrl_pwm_mipi_lvds0: mipi_lvds0_pwm_grp {
			fsl,pins = <
				IMX8QXP_MIPI_DSI0_GPIO0_00_MIPI_DSI0_PWM0_OUT	0x00000020
				IMX8QXP_SPI2_SDI_LSIO_GPIO1_IO02		0x00000041
			>;
		};

		pinctrl_i2c0_mipi_lvds1: mipi_lvds1_i2c0_grp {
			fsl,pins = <
				IMX8QXP_MIPI_DSI1_I2C0_SCL_MIPI_DSI1_I2C0_SCL	0xc6000020
				IMX8QXP_MIPI_DSI1_I2C0_SDA_MIPI_DSI1_I2C0_SDA	0xc6000020
				IMX8QXP_MIPI_DSI1_GPIO0_01_LSIO_GPIO2_IO00	0x00000061
			>;
		};

		pinctrl_pwm_mipi_lvds1: mipi_lvds1_pwm_grp {
			fsl,pins = <
				IMX8QXP_MIPI_DSI1_GPIO0_00_MIPI_DSI1_PWM0_OUT	0x00000020
				IMX8QXP_SPI2_CS0_LSIO_GPIO1_IO00		0x00000021
			>;
		};

		pinctrl_lpi2c_pm: lpi0cgrp {
			fsl,pins = <
				IMX8QXP_MIPI_CSI0_GPIO0_00_ADMA_I2C0_SCL	0x06000021
				IMX8QXP_MIPI_CSI0_GPIO0_01_ADMA_I2C0_SDA	0x06000021
				IMX8QXP_QSPI0B_DQS_LSIO_GPIO3_IO22		0x06000040
			>;
		};

		pinctrl_lpi2c_int: lpi1cgrp {
			fsl,pins = <
				IMX8QXP_USB_SS3_TC1_ADMA_I2C1_SCL	0x06000021
				IMX8QXP_USB_SS3_TC3_ADMA_I2C1_SDA	0x06000021
			>;
		};

		pinctrl_lpi2c_gp: lpi3cgrp {
			fsl,pins = <
				IMX8QXP_CSI_EN_ADMA_I2C3_SCL	0x06000021
				IMX8QXP_CSI_RESET_ADMA_I2C3_SDA	0x06000021
			>;
		};

		pinctrl_sai0: sai0grp {
			fsl,pins = <
				IMX8QXP_SAI0_RXD_ADMA_SAI0_RXD		0xc6000040
				IMX8QXP_SAI0_TXC_ADMA_SAI0_TXC		0xc6000040
				IMX8QXP_SAI0_TXFS_ADMA_SAI0_TXFS	0xc6000040
				IMX8QXP_SAI0_TXD_ADMA_SAI0_TXD		0xc6000060
				IMX8QXP_ADC_IN3_ADMA_ACM_MCLK_OUT0	0xc0000040
			>;
		};

		pinctrl_usdhc1: usdhc1grp {
			fsl,pins = <
				IMX8QXP_EMMC0_CLK_CONN_EMMC0_CLK	0x06000041
				IMX8QXP_EMMC0_CMD_CONN_EMMC0_CMD	0x00000021
				IMX8QXP_EMMC0_DATA0_CONN_EMMC0_DATA0	0x00000021
				IMX8QXP_EMMC0_DATA1_CONN_EMMC0_DATA1	0x00000021
				IMX8QXP_EMMC0_DATA2_CONN_EMMC0_DATA2	0x00000021
				IMX8QXP_EMMC0_DATA3_CONN_EMMC0_DATA3	0x00000021
				IMX8QXP_EMMC0_DATA4_CONN_EMMC0_DATA4	0x00000021
				IMX8QXP_EMMC0_DATA5_CONN_EMMC0_DATA5	0x00000021
				IMX8QXP_EMMC0_DATA6_CONN_EMMC0_DATA6	0x00000021
				IMX8QXP_EMMC0_DATA7_CONN_EMMC0_DATA7	0x00000021
				IMX8QXP_EMMC0_STROBE_CONN_EMMC0_STROBE	0x06000041
			>;
		};

		pinctrl_usdhc1_100mhz: usdhc1grp100mhz {
			fsl,pins = <
				IMX8QXP_EMMC0_CLK_CONN_EMMC0_CLK	0x06000040
				IMX8QXP_EMMC0_CMD_CONN_EMMC0_CMD	0x00000020
				IMX8QXP_EMMC0_DATA0_CONN_EMMC0_DATA0	0x00000020
				IMX8QXP_EMMC0_DATA1_CONN_EMMC0_DATA1	0x00000020
				IMX8QXP_EMMC0_DATA2_CONN_EMMC0_DATA2	0x00000020
				IMX8QXP_EMMC0_DATA3_CONN_EMMC0_DATA3	0x00000020
				IMX8QXP_EMMC0_DATA4_CONN_EMMC0_DATA4	0x00000020
				IMX8QXP_EMMC0_DATA5_CONN_EMMC0_DATA5	0x00000020
				IMX8QXP_EMMC0_DATA6_CONN_EMMC0_DATA6	0x00000020
				IMX8QXP_EMMC0_DATA7_CONN_EMMC0_DATA7	0x00000020
				IMX8QXP_EMMC0_STROBE_CONN_EMMC0_STROBE	0x06000040
			>;
		};

		pinctrl_usdhc1_200mhz: usdhc1grp200mhz {
			fsl,pins = <
				IMX8QXP_EMMC0_CLK_CONN_EMMC0_CLK	0x06000040
				IMX8QXP_EMMC0_CMD_CONN_EMMC0_CMD	0x00000020
				IMX8QXP_EMMC0_DATA0_CONN_EMMC0_DATA0	0x00000020
				IMX8QXP_EMMC0_DATA1_CONN_EMMC0_DATA1	0x00000020
				IMX8QXP_EMMC0_DATA2_CONN_EMMC0_DATA2	0x00000020
				IMX8QXP_EMMC0_DATA3_CONN_EMMC0_DATA3	0x00000020
				IMX8QXP_EMMC0_DATA4_CONN_EMMC0_DATA4	0x00000020
				IMX8QXP_EMMC0_DATA5_CONN_EMMC0_DATA5	0x00000020
				IMX8QXP_EMMC0_DATA6_CONN_EMMC0_DATA6	0x00000020
				IMX8QXP_EMMC0_DATA7_CONN_EMMC0_DATA7	0x00000020
				IMX8QXP_EMMC0_STROBE_CONN_EMMC0_STROBE	0x06000040
			>;
		};

		pinctrl_usdhc2_gpio: usdhc2gpiogrp {
			fsl,pins = <
				IMX8QXP_USDHC1_RESET_B_LSIO_GPIO4_IO19	0x06000021
				IMX8QXP_USDHC1_WP_LSIO_GPIO4_IO21	0x06000021
				IMX8QXP_USDHC1_CD_B_LSIO_GPIO4_IO22	0x06000021
			>;
		};

		pinctrl_usdhc2: usdhc2grp {
			fsl,pins = <
				IMX8QXP_USDHC1_CLK_CONN_USDHC1_CLK		0x06000041
				IMX8QXP_USDHC1_CMD_CONN_USDHC1_CMD		0x06000021
				IMX8QXP_USDHC1_DATA0_CONN_USDHC1_DATA0		0x06000021
				IMX8QXP_USDHC1_DATA1_CONN_USDHC1_DATA1		0x06000021
				IMX8QXP_USDHC1_DATA2_CONN_USDHC1_DATA2		0x06000021
				IMX8QXP_USDHC1_DATA3_CONN_USDHC1_DATA3		0x06000021
				IMX8QXP_USDHC1_VSELECT_CONN_USDHC1_VSELECT	0x06000021
			>;
		};

		pinctrl_usdhc2_100mhz: usdhc2grp100mhz {
			fsl,pins = <
				IMX8QXP_USDHC1_CLK_CONN_USDHC1_CLK		0x06000040
				IMX8QXP_USDHC1_CMD_CONN_USDHC1_CMD		0x06000020
				IMX8QXP_USDHC1_DATA0_CONN_USDHC1_DATA0		0x06000020
				IMX8QXP_USDHC1_DATA1_CONN_USDHC1_DATA1		0x06000020
				IMX8QXP_USDHC1_DATA2_CONN_USDHC1_DATA2		0x06000020
				IMX8QXP_USDHC1_DATA3_CONN_USDHC1_DATA3		0x06000020
				IMX8QXP_USDHC1_VSELECT_CONN_USDHC1_VSELECT	0x06000020
			>;
		};

		pinctrl_usdhc2_200mhz: usdhc2grp200mhz {
			fsl,pins = <
				IMX8QXP_USDHC1_CLK_CONN_USDHC1_CLK		0x06000040
				IMX8QXP_USDHC1_CMD_CONN_USDHC1_CMD		0x06000020
				IMX8QXP_USDHC1_DATA0_CONN_USDHC1_DATA0		0x06000020
				IMX8QXP_USDHC1_DATA1_CONN_USDHC1_DATA1		0x06000020
				IMX8QXP_USDHC1_DATA2_CONN_USDHC1_DATA2		0x06000020
				IMX8QXP_USDHC1_DATA3_CONN_USDHC1_DATA3		0x06000020
				IMX8QXP_USDHC1_VSELECT_CONN_USDHC1_VSELECT	0x06000020
			>;
		};

		pinctrl_pcieb: pcieagrp {
			fsl,pins = <
				IMX8QXP_PCIE_CTRL0_PERST_B_LSIO_GPIO4_IO00	0x06000021
				IMX8QXP_PCIE_CTRL0_WAKE_B_LSIO_GPIO4_IO02	0x04000021
			>;
		};

		pinctrl_lcdif: lcdif_grp {
			fsl,pins = <
				IMX8QXP_ESAI0_FSR_ADMA_LCDIF_D00	0x00000060
				IMX8QXP_ESAI0_FST_ADMA_LCDIF_D01	0x00000060
				IMX8QXP_ESAI0_SCKR_ADMA_LCDIF_D02	0x00000060
				IMX8QXP_ESAI0_SCKT_ADMA_LCDIF_D03	0x00000060
				IMX8QXP_ESAI0_TX0_ADMA_LCDIF_D04	0x00000060
				IMX8QXP_ESAI0_TX1_ADMA_LCDIF_D05	0x00000060
				IMX8QXP_ESAI0_TX2_RX3_ADMA_LCDIF_D06	0x00000060
				IMX8QXP_ESAI0_TX3_RX2_ADMA_LCDIF_D07	0x00000060
				IMX8QXP_ESAI0_TX4_RX1_ADMA_LCDIF_D08	0x00000060
				IMX8QXP_ESAI0_TX5_RX0_ADMA_LCDIF_D09	0x00000060
				IMX8QXP_SPDIF0_RX_ADMA_LCDIF_D10	0x00000060
				IMX8QXP_SPDIF0_TX_ADMA_LCDIF_D11	0x00000060
				IMX8QXP_SPDIF0_EXT_CLK_ADMA_LCDIF_D12	0x00000060
				IMX8QXP_SPI3_SCK_ADMA_LCDIF_D13		0x00000060
				IMX8QXP_SPI3_SDO_ADMA_LCDIF_D14		0x00000060
				IMX8QXP_SPI3_SDI_ADMA_LCDIF_D15		0x00000060
				IMX8QXP_SPI3_CS0_ADMA_LCDIF_HSYNC	0x00000060
				IMX8QXP_MCLK_IN1_ADMA_LCDIF_EN		0x00000060
				IMX8QXP_MCLK_IN0_ADMA_LCDIF_VSYNC	0x00000060
				IMX8QXP_MCLK_OUT0_ADMA_LCDIF_CLK	0x00000060
			>;
		};

		pinctrl_mipi_csi0: mipicsi0grp{
			fsl,pins = <
				IMX8QXP_MIPI_CSI0_MCLK_OUT_MIPI_CSI0_ACM_MCLK_OUT	0xC0000041
			>;
		};

		pinctrl_adc0: adc0grp {
			fsl,pins = <
				IMX8QXP_ADC_IN0_ADMA_ADC_IN0	0x60
				IMX8QXP_ADC_IN1_ADMA_ADC_IN1	0x60
			>;
		};

		pinctrl_tca9539: tca9539grp {
			fsl,pins = <
				IMX8QXP_ADC_IN5_LSIO_GPIO1_IO13		0x21
			>;
		};

		pinctrl_usbotg1: usbotg1 {
			fsl,pins = <
				IMX8QXP_USB_SS3_TC0_CONN_USB_OTG1_PWR	0x00000021
			>;
		};

		gpio_keys: gpio_keysgrp {
			fsl,pins = <
				/* SLEEP# */
				IMX8QXP_CSI_MCLK_LSIO_GPIO3_IO01		0x21
				/* GPIO10 */
				IMX8QXP_CSI_PCLK_LSIO_GPIO3_IO00		0x21
				/* GPIO11 */
				IMX8QXP_ADC_IN2_LSIO_GPIO1_IO12		0x21
				/* GPIO13 */
				IMX8QXP_SCU_GPIO0_01_SCU_GPIO0_IO01	0x21
			>;
		};

	};
};

&lpuart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpuart0>;
};

&lpuart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpuart1>;
};

&lpuart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpuart2>;
};

&lpuart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpuart3>;
};

// fec1 is for ethernet, defined in freescale (SoC) dtsi, for example imx8qm/mm/mn/mq etc
// (but also in imx8-ss-conn.dtsi)
&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec1>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy0>;
	fsl,magic-packet;
	local-mac-address = [00 11 22 33 44 55];
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
		};
	};
};

// For CAN controller, obviously
&flexcan1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
};

&flexcan2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2>;
};

// SPI flash, it seems
&flexspi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexspi0>;
	status = "okay";

	flash0: mt25qu512@0 {
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "micron,mt25qu512", "jedec,spi-nor";
		spi-max-frequency = <90000000>;
	};
};

// SPI bus definition, presumably
// defined in ../freescale/imx8-ss-dma.dtsi
&lpspi0 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpspi0>;
	cs-gpios = <&lsio_gpio1 8 GPIO_ACTIVE_LOW>;
	dma-names = "tx","rx";
	dmas = <&edma2 1 0 0>, <&edma2 0 0 1>;
	clocks = <&clk IMX_SC_R_SPI_0 IMX_SC_PM_CLK_PER>,
		 <&dma_ipg_clk>;
	fsl,spi-num-chipselects = <1>;
	status = "okay";

	spidev@0 {
		compatible = "custom_spidev_device";
		reg = <0>;
		spi-max-frequency = <10000000>;
	};

/*
	flash1: w25q128fw@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0>;
		compatible = "w25q128fw", "jedec,spi-nor";
		spi-max-frequency = <10000000>;
	};
*/
};

// Clock controller
// defined in ../freescale/imx8-ss-dma.dtsi
&spi0_lpcg {
	status = "disabled";
};

// I2C PM
&i2c0 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpi2c_pm>;
	clock-frequency = <100000>;
	clkhi = <28>;
	clklo = <30>;
	status = "okay";
};

// I2C INT
&i2c1 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpi2c_int>;
	clkhi = <28>;
	clklo = <30>;
	status = "okay";

	rtc@32 {
		compatible = "microcrystal,rv8803";
		reg = <0x32>;
		epson,vdet-disable;
		trickle-diode-disable;
	};
};

// I2C GP
&i2c3 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpi2c_gp>;
	clkhi = <28>;
	clklo = <30>;
	status = "okay";

	tca9539: gpio@74 {
		compatible = "ti,tca9539";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_tca9539>;
		reg = <0x74>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names =
		    "GPIO0_CAM0_PWR_N", "GPIO1_CAM1_PWR_N",
		    "GPIO2_CAM0_RST_N", "GPIO3_CAM1_RST_N",
		    "GPIO4_HDA_RST_N", "GPIO5_PWM_OUT",
		    "GPIO6_TACHIN", "GPIO7", "GPIO8",
		    "GPIO9", "CHARGER_PRSNT", "BATLO",
		    "LID", "", "CHARGING", "GPIO12";
		vcc-supply = <&reg_1v8_s0>;
		interrupt-parent = <&lsio_gpio1>;
		interrupts = <13 IRQ_TYPE_NONE>;
		interrupt-controller;
		#interrupt-cells = <2>;
	};

	vpd: eeprom@50 {
		compatible = "atmel,24c32";
		reg = <0x50>;
	};
};

// For audio, defined in freescale (audio) dts
&sai0 {
//	assigned-clocks = <&clk IMX8QXP_AUD_PLL0_DIV>,
//			<&clk IMX8QXP_AUD_ACM_AUD_PLL_CLK0_DIV>,
//			<&clk IMX8QXP_AUD_ACM_AUD_REC_CLK0_DIV>,
//			<&clk IMX8QXP_AUD_SAI_0_MCLK>;
	assigned-clocks = <&clk IMX_SC_R_AUDIO_PLL_0 IMX_SC_PM_CLK_PLL>,
			  <&clk IMX_SC_R_AUDIO_PLL_0 IMX_SC_PM_CLK_SLV_BUS>,
			  <&clk IMX_SC_R_AUDIO_PLL_0 IMX_SC_PM_CLK_MST_BUS>,
			  <&sai0_lpcg 0>;
	assigned-clock-rates = <786432000>, <49152000>, <12288000>, <49152000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai0>;
	status = "okay";
};

// USB OTG, obviously
&usbotg1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg1>;
	vbus-supply = <&reg_usb_otg1_vbus>;
	srp-disable;
	hnp-disable;
	adp-disable;
	power-active-high;
	disable-over-current;
	status = "okay";
};

&usbotg3 {
	dr_mode = "host";
	status = "okay";
};

// USB PHY
&usbphy1 {
	status = "okay";
};

&usb3phynop1 {
	status = "okay";
};

// SDHC card - refers to mmc definition
// defined in freescale (SoC) dtsi, for example imx8qm/mm/mn/mq etc
// (but also in imx8-ss-conn.dtsi)
&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1>;
	pinctrl-2 = <&pinctrl_usdhc1>;
//	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
//	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	bus-width = <8>;
	no-sd;
	no-sdio;
	non-removable;
	status = "okay";
};

// Another SD?
&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	pinctrl-1 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	pinctrl-2 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
//	pinctrl-1 = <&pinctrl_usdhc2_100mhz>, <&pinctrl_usdhc2_gpio>;
//	pinctrl-2 = <&pinctrl_usdhc2_200mhz>, <&pinctrl_usdhc2_gpio>;
	bus-width = <4>;
	cd-gpios = <&lsio_gpio4 22 GPIO_ACTIVE_LOW>;
	wp-gpios = <&lsio_gpio4 21 GPIO_ACTIVE_HIGH>;
	vmmc-supply = <&reg_usdhc2_vmmc>;
	status = "okay";
};

// PCI bus definition
// defined in ../freescale/imx8qm-ss-hsio.dtsi
&pcieb {
	ext_osc = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcieb>;
	compatible = "fsl,imx8qxp-pcie","snps,dw-pcie";
	reset-gpio = <&lsio_gpio4 0 GPIO_ACTIVE_LOW>;
	status = "okay";
};

// Pixel combiner
// defined in ../freescale/imx8-ss-dc0.dtsi
&dc0_pc {
	status = "okay";
};

// Several other unknown subsystems under dc0:

&dc0_prg1 {
	status = "okay";
};

&dc0_prg2 {
	status = "okay";
};

&dc0_prg3 {
	status = "okay";
};

&dc0_prg4 {
	status = "okay";
};

&dc0_prg5 {
	status = "okay";
};

&dc0_prg6 {
	status = "okay";
};

&dc0_prg7 {
	status = "okay";
};

&dc0_prg8 {
	status = "okay";
};

&dc0_prg9 {
	status = "okay";
};

&dc0_dpr1_channel1 {
	status = "okay";
};

&dc0_dpr1_channel2 {
	status = "okay";
};

&dc0_dpr1_channel3 {
	status = "okay";
};

&dc0_dpr2_channel1 {
	status = "okay";
};

&dc0_dpr2_channel2 {
	status = "okay";
};

&dc0_dpr2_channel3 {
	status = "okay";
};

&dpu1 {
	status = "okay";
};

&gpu_3d0 {
	status = "okay";
};

&imx8_gpu_ss {
	status = "okay";
};

&rpmsg{
	/*
	 * 64K for one rpmsg instance:
	 */
	vdev-nums = <2>;
	reg = <0x0 0x90000000 0x0 0x20000>;
	memory-region = <&rpmsg_dma_reserved>;
	status = "okay";
};

&isi_0 {
	status = "okay";

	cap_device {
		status = "okay";
	};

	m2m_device {
		status = "okay";
	};
};

&isi_1 {
	status = "okay";

	cap_device {
		status = "okay";
	};
};

&isi_2 {
	status = "okay";

	cap_device {
		status = "okay";
	};
};

&isi_3 {
	status = "okay";

	cap_device {
		status = "okay";
	};
};

&vpu_decoder {
	boot-region = <&decoder_boot>;
	rpc-region = <&decoder_rpc>;
	reg-csr = <0x2d040000>;
	core_type = <1>;
	status = "okay";
};

&vpu_encoder {
	boot-region = <&encoder_boot>;
	rpc-region = <&encoder_rpc>;
	reserved-region = <&encoder_reserved>;
	reg-rpc-system = <0x40000000>;
	resolution-max = <1920 1080>;
	mbox-names = "enc1_tx0", "enc1_tx1", "enc1_rx";
	mboxes = <&mu1_m0 0 0
		  &mu1_m0 0 1
		  &mu1_m0 1 0>;
//	core_type = <1>;
	status = "okay";

	core0@1020000 {
		compatible = "fsl,imx8-mu1-vpu-m0";
		reg = <0x1020000 0x20000>;
		reg-csr = <0x1050000 0x10000>;
		interrupts = <GIC_SPI 470 IRQ_TYPE_LEVEL_HIGH>;
		fsl,vpu_ap_mu_id = <17>;
		fw-buf-size = <0x200000>;
		rpc-buf-size = <0x80000>;
		print-buf-size = <0x80000>;
	};
};

// AD converter??
// defined in ../freescale/imx8-ss-dma.dtsi
&adc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_adc0>;
	vref-supply = <&reg_vref_1v8>;
	#io-channel-cells = <1>;
	io-channels = <&adc0 0>, <&adc0 1>;
	io-channel-names = "vin", "vbat";
	status = "okay";
};

/* DSI/LVDS port 0 */
&i2c0_mipi_lvds0 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c0_mipi_lvds0>;
	clock-frequency = <100000>;
	clkhi = <28>;
	clklo = <30>;
	status = "okay";

	lvds_bridge: lvds-bridge@2d {
		compatible = "ti,sn65dsi84";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x2d>;

		/* TODO: enable this when panel bind is solved */
		enable-gpios = <&lsio_gpio1 01 GPIO_ACTIVE_HIGH>;

		interrupts-extended = <&lsio_gpio1 28 IRQ_TYPE_EDGE_FALLING>;

		vccio-supply = <&reg_1v8_s0>;
		vcca-supply = <&reg_1v2_s0>;
		vpll-supply = <&reg_1v8_s0>;
		vcc-supply = <&reg_1v2_s0>;

		// Clock divider = 2 is supposedly the driver default but for
		// some reason it does not work properly when set to 2
		// explicitly?  Leaving it unset works!
		//sn-dsi-clk-divider = <2>;

		sn-dsi-lane-count = <4>;
		lvds-channel-count = <1>;
		lvds-set-24bpp-mode = <1>;

		// Datasheet page 10, 200mV < VID < 600mV, no exact
		// match but use 0b10 for  250mV < VOD < 430mV with
		// 100Ω termination.
		lvds-cha-vod-swing = <0x02>;
		lvds-chb-vod-swing = <0x02>;

		// (cm-adjust, adjusts the 1.2V voltage level)
		lvds-cha-cm-adjust = <0>;
		lvds-chb-cm-adjust = <0>;

		// sn-sync-delay: We are a bit uncertain on the value, but try
		// something more than 32 (which is default).  32 seems near the
		// limit of specs.  It's a 12 bit value, so can be up to 4095??
		sn-sync-delay = <40>; // This seems OK, 32 also works OK.

		// lvds-cha-vocm = false.  Also unnecessary if lvds-cha-cm-adjust
                // is set explicitly (above).  Same for channel b.
		// do not set: lvds-cha-vocm;
		// do not set: lvds-chb-vocm;

		// These booleans should be un-set
		// do not set: lvds-de-neg-polarity;
		// do not set: lvds-set-24bpp-format1;
		// do not set: lvds-even-odd-swap;
		// do not set: lvds-cha-reverse;
		// do not set: lvds-chb-reverse;
		// do not set: lvds-cha-term;
		// do not set: lvds-chb-term;
		// do not set: dsi-burst-mode;

		i2c-bus {
			#address-cells = <1>;
			#size-cells = <0>;
		};

		port@0 {
			reg = <0>;

			lvds_bridge_in: endpoint {
				remote-endpoint = <&mipi0_dsi_host_out>;
			};
		};

		port@1 {
			reg = <1>;

			lvds_bridge_out: endpoint {
				remote-endpoint = <&lvds_panel_in>;
			};
		};
	};
};

//&irqsteer_mipi_lvds0 {
//	status = "okay";
//};

&pwm_mipi_lvds0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm_mipi_lvds0>;
	status = "okay";
};

&pwm_mipi_lvds1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm_mipi_lvds1>;
	status = "okay";
};

&mipi0_dphy {
	status = "okay";
};

&mipi0_dsi_host {
	status = "okay";

	ports {
		port@1 {
			reg = <1>;
			mipi0_dsi_host_out: endpoint {
				remote-endpoint = <&lvds_bridge_in>;
			};
		};
	};
};

&jpegdec {
	status = "okay";
};

&jpegenc {
	status = "okay";
};

&lsio_gpio1 {
	pad-wakeup-num = <1>;
	/* IMX8QXP_ADC_IN5, SC_PAD_WAKEUP_FALL_EDGE, LINE 13 */
	pad-wakeup = < IMX8QXP_ADC_IN5 5 13 >;
	gpio-line-names =
		"", "", "", "", "", "", "", "",
		"", "", "", "", "GPIO11", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "";
};

&lsio_gpio3 {
	pad-wakeup-num = <1>;
	/* IMX8QXP_CSI_MCLK, SC_PAD_WAKEUP_FALL_EDGE, LINE 1 */
	pad-wakeup = < IMX8QXP_CSI_MCLK 5 1 >;
	gpio-line-names =
		"GPIO10", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "";
};

&lsio_gpio4 {
	pad-wakeup-num = <1>;
	/* IMX8QXP_PCIE_CTRL0_WAKE_B, SC_PAD_WAKEUP_FALL_EDGE, LINE 2 */
	pad-wakeup = < IMX8QXP_PCIE_CTRL0_WAKE_B 5 2 >;
};

&emvsim0_lpcg {
	status = "disabled";
};

&adc1_lpcg {
	status = "disabled";
};
